
.header {
    font-size: 16px;
}

.header{color:#595857;width:100%;background: white;position: relative;z-index: 214748;}
.header,.header *{transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;}
.header .maxbox{position: relative;}
.header .logo{position: absolute;top:0;left:0;padding:20px 0;}
.header .logo img{height: 58px;width: auto;}
.header .menubtn{position: absolute;top:20px;right:0;width:35px;height:35px;cursor:pointer;display: none;transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;}
.header .menubtn.close{background: url(../assets/imgs/header/menu.png) no-repeat center;}
.header .menubtn.open{background: url(../assets/imgs/header/menu-open.png) no-repeat center;}
.header .menubtn.tip{background: url(../assets/imgs/header/menu-tip.png) no-repeat center;}
.header .right{text-align: right;padding:30px 0;padding-right: 250px;}
.header .right.nocontact{padding-right: 0;}
.header .right.bcontact{padding-right:280px;}
.header .right .menu{padding:10px 0;padding-left:400px;}
.header .right .menu li{position: relative;text-align: center;border-left:2px solid #595857;font-size: 18px;line-height: 18px;width:140px;float: left;}
.header .right .menu li.first{width:120px;}
.header .right .menu.s li{width: 120px;}

.header .right .menu li .border{position: absolute;left:0;bottom:-10px;height: 0px;display: none\9;background: red;width:100%;}
.header .right .menu li.active .border,.header .right .menu li:hover .border{bottom:-41px;background: red;display:block\9;height: 5px;-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear;-ms-transition:all .4s linear;}
.header .right .menu li.first{border:0;}
.header .right .menu li.big{width:180px;}
.header .right .menu.s li.big{width:160px;}
.header .right .menu li a{display: block;color:#595857;font-size: 16px;}
.header .right .menu li.active a,.header .right .menu li:hover a{color:red;}
/*.header-footer .right .menu li.btn{width: 60px;border:0;cursor: pointer;text-align: right;}
.header-footer .right .menu li.btn,.header-footer .right .menu li.btn *{-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;}
.header-footer .right .menu li.btn svg:hover,.header-footer .right .menu li.btn svg:hover *{fill:red;fill:red!important;color: red;}*/
.header .right .oprbtnlist{position: absolute;top:0;right: 0;}
.header .right .oprbtn{width: 50px;border:0;cursor: pointer;text-align: right;display: block;float: left;padding-top: 10px;}
.header .right .oprbtn,.header .right .oprbtn *{-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;}
.header .right .oprbtn svg:hover,.header .right .oprbtn svg:hover *{fill:red;fill:red!important;color: red;}
.header .right .oprbtn.othermenu{background: url(../assets/imgs/header/menu.png) no-repeat center right\9;height: 35px\9;}
.header .right .oprbtn.search{background: url(../assets/imgs/header/search14.png) no-repeat center right\9;height: 35px\9;}
.header .right .contact{position: absolute;right:0;top:30px;}
.header .right .contact .box{position: relative;padding-left: 45px;padding-right: 70px;text-align: left;font-size: 12px;padding-top: 3px;}
.header .right .contact.hasoprbtn .box{padding-right: 100px;}
.header .right .contact .box p.big{font-size: 18px;font-weight: bold;}
.header .right .contact .box img{
    width: 35px;height:35px;position: absolute;top:0;left:0;
}
.header .right .contact .box .btn{
    width: 35px;height:35px;position: absolute;top:0;right:0;background: #595857;border-radius: 5px;cursor: pointer;
}
.header .right .contact .box .btn.shang{background: #595857 url("../assets/imgs/header/v-prev.png") no-repeat center;}
.header .right .contact .box .btn.xia{background: #595857 url("../assets/imgs/header/v-next.png") no-repeat center;}