/*font-size*/
$ssFontSize: 10px;

/*color*/
$mainColor: #2ea7e0;

/*mixin*/
@mixin paddingSmall($value: 2px) {
  padding-right: $value;
  padding-left: $value;
}

/*global*/
a {
  color: black;
  &:hover {
    text-decoration: none;
  }
  &.active {
    color: $mainColor;
  }
  &.active .btn {
    color: $mainColor;
  }
}

.tab-button-group {

  padding: 20px;
  span {
    cursor: pointer;
  }
}

.tab-content {


  button {
    font-size: $ssFontSize;
    width: 100%;
    padding: 0;
    height: 30px;
    & a {
      font-size: $ssFontSize;
      display: block;
      padding: 6px 0;
    }

  }

  .module {
    padding: 35px 0;
    border-top: 1px solid #dddddd;

    &:last-child {
      border-bottom: 1px solid #dddddd;
    }
    h5 {
      background: $mainColor;
      padding: 42px 0;
      color: white;
    }

  }

  .first-col {
    .download-btn {
      padding: 10px 0;
    }
  }

  .second-col {

    margin-bottom: 10px;

    strong {
      font-size: 12px;
    }
    small {
      font-size: 10px;
    }
    .btn {
      width: 100%;
      margin-bottom: 5px;

    }
    .col-sm-6 {
      @include paddingSmall();
    }
  }

  .third-col {
    font-size: $ssFontSize;
  }
  .third-col-hr {
    margin: 5px 0 10px 0;
    background: $mainColor;
    height: 1px;
  }
  .third-col-title {
    color: $mainColor;
  }
  .third-col-body {
    &  span {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 15px;
      &:hover{
        color: $mainColor;
      }
    }
  }
  .third-col-footer {
    .col-md-5 {
      @include paddingSmall();
    }
    button {
      &:hover {
        background: $mainColor;
      }
      &:hover  a {
        color: white;
      }

    }
  }

}