@import "common-function.scss";
@import "common-fonts.scss";
@import "common-structure.scss";

@import "sort-page-font";
/*color*/
$mainColor: #2ea7e0;

/*mixin*/
@mixin paddingSmall($value: 2px) {
  padding-right: $value;
  padding-left: $value;
}


/*global*/
a {
  color: black;
  &:hover {
    text-decoration: none;
  }
  &.active {
    color: $mainColor;
  }
  &.active .btn {
    color: $mainColor;
  }
}

.tab-button-group {

  padding: 20px;
  span {
    cursor: pointer;
  }
}

.tab-content {
  .first-sort-page {
    button {
      width: 100%;
      padding: 0;
      & a {
        display: block;
        padding: 6px 0;
      }

    }

    .module {
      padding: 35px 0;
      border-top: 1px solid #dddddd;
      overflow: hidden;
      @include maxWidth();
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      &:last-child {
        border-bottom: 1px solid #dddddd;
      }
      h5 {
        background: $mainColor;
        padding: 42px 0;
        margin: 4px 0 10px 0;
        color: white;
        &:hover {
          background: darken($mainColor, 30%);
        }
      }
  }

  }

  .first-col {
    .download-btn {
      padding: 10px 0;
      .btn {
        &:hover {
          background: $mainColor;
          color: white;
        }
      }
    }
  }

  .second-col {
    .row {
      margin-bottom: 10px;

      .btn {
        width: 100%;
        margin-bottom: 5px;

      }
      .col-sm-6 {
        @include paddingSmall();
      }
    }
  }

  .third-col-hr {
    margin: 5px 0 10px 0;
    background: $mainColor;
    height: 1px;
  }
  .third-col {
    @include paddingSmall(0);
  }
  .third-col-title {
    color: $mainColor;
  }
  .third-col-body {
    &  span {
      display: inline-block;
      margin-right: 9px;
      margin-bottom: 15px;
      &:hover{
        color: $mainColor;
      }
    }
  }
  .third-col-footer {
    .col-md-5 {
      padding-right: 2px;
    }
    button {
      &:hover {
        background: $mainColor;
      }
      &:hover  a {
        color: white;
      }

    }
  }

}
@import "sort-page";