
/*color*/
$mainColor: #2ea7e0;

/*global*/
.sort-page .btn {
  width: 192px;
  height: 53px;
}
@media (min-width: 992px) {
  .col-md-offset-1 {
    margin-left: 2.333333%;
  }
  .col-md-10 {
    width: 95.33333333%
  }
  .first-sort-page .tab-content {
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
  }

}
/*mixin*/

.second-sort-page {

  h5 {
    font-weight: 300;
    padding: 15px 25px 0 50px;

  }
  p {
    padding: 0 25px 0 50px;

  }
  button {
    background: #efefef;
    color: $mainColor;
  }

  .right-line-box {
    padding-left: 50px;
    overflow: hidden;
  }
  .right-line {
    height: 1px ;
    background: $mainColor;
    margin: 10px 0;
  }

  .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .module {
    border: 1px solid #b5b5b6;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      background: $mainColor;
      color: white;
      .right-line {
        background: white;
      }
    }
  }

  .download-btn {
    padding: 0 0 20px 50px;

  }
}