/*font-size*/
$ssFontSize: 10px;
/*color*/
$mainColor: #2ea7e0;
/*global*/
a {
  color: black;
  &:hover {
    text-decoration: none;
  }
  &.active {
    color: $mainColor;
  }
  &.active .btn {
    color: $mainColor;
  }
}

.first-col,.second-col {
  border-top: 1px solid #3f3b3a;
  margin-top: 40px;
  padding-top: 10px;
}
.first-col {
  .list-group-item {
    padding-left: 0;
    font-size: 12px;
    border: none;
  }
}

.second-col {
  li {
    padding: 12px 0;
    border-top: 1px dashed #aaa;
    &:first-child {
      border-top: 1px solid #3f3b3a;
    }
  }
}
.second-col-title {
  padding: 14px 0;
}
.list-title {
  font-size: 13px;
  margin: 8px 0;
}
.list-body{
  font-size: 11px;
  line-height: 30px;
}