/*mixin*/
.max-container {
  max-width: 1700px; }

a:hover, .btn.btn-link:hover {
  text-decoration: none; }
a:active, .btn.btn-link:active {
  text-decoration: none; }

.common-hr {
  background: #aeb0b3;
  height: 2px;
  margin: 25px auto; }

div, button, h1, h2, h3, h4, h5, h6, span, .btn {
  font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif, Verdana; }

.large-1-h {
  font-size: 44px; }

.b-big-1-h {
  font-size: 41px; }

.big-1-h {
  font-size: 36px; }

.one-h {
  font-size: 32px; }

.small-1-h {
  font-size: 30px; }

.two-h {
  font-size: 26px; }

.three-h {
  font-size: 24px; }

.four-h {
  font-size: 21px; }

.small-4-h {
  font-size: 20px; }

.five-h {
  font-size: 18px; }

.six-h {
  font-size: 16px; }

.normal-f {
  font-size: 14px; }

.small-f {
  font-size: 12px; }

@media (max-width: 991px) and (min-width: 567px) {
  .large-1-h {
    font-size: 41px; }

  .b-big-1-h {
    font-size: 36px; }

  .big-1-h {
    font-size: 32px; }

  .one-h {
    font-size: 30px; }

  .small-1-h {
    font-size: 26px; }

  .two-h {
    font-size: 24px; }

  .three-h {
    font-size: 21px; }

  .four-h {
    font-size: 20px; }

  .small-4-h {
    font-size: 18px; }

  .five-h {
    font-size: 16px; }

  .six-h {
    font-size: 14px; }

  .normal-f {
    font-size: 12px; }

  .small-f {
    font-size: 10px; } }
@media (max-width: 566px) {
  .large-1-h {
    font-size: 37px; }

  .b-big-1-h {
    font-size: 32px; }

  .big-1-h {
    font-size: 28px; }

  .one-h {
    font-size: 26px; }

  .small-1-h {
    font-size: 22px; }

  .two-h {
    font-size: 20px; }

  .three-h {
    font-size: 17px; }

  .four-h {
    font-size: 16px; }

  .small-4-h {
    font-size: 18px; }

  .five-h {
    font-size: 16px; }

  .six-h {
    font-size: 14px; }

  .normal-f {
    font-size: 12px; }

  .small-f {
    font-size: 10px; } }
.brand-source {
  line-height: 40px; }

.large-1-h {
  line-height: normal; }

.body-color, body {
  color: #5a5a5a; }

.common-color, a {
  color: #727171; }

.title-color {
  color: #3F3B3A; }

.second-title-color {
  color: #5A5858; }

.article-color {
  color: #595857; }

.white-color {
  color: #fff; }

.black-color {
  color: #000; }

.section-one {
  background: #f00; }

.section-three {
  background: url("../assets/imgs/brand-source/back.png") no-repeat;
  background-size: 100% 100%; }
  .section-three .headline {
    background: #818385; }

.large-1-h {
  margin: 50px auto;
  line-height: normal; }

.section-one {
  padding: 50px 9% 0;
  height: 265px;
  margin-bottom: 28px;
  line-height: normal; }
  .section-one img {
    position: relative;
    top: 17px; }

.section-two {
  margin-top: 28px; }
  .section-two .package {
    margin-top: 100px; }
  .section-two .img-responsive {
    margin: 0 auto;
    position: relative;
    top: 18px; }

.section-three {
  padding: 10% 9% 100px; }
  .section-three .headline {
    display: table;
    margin: 0 auto 40px;
    height: 146px;
    width: 146px; }
    .section-three .headline div {
      display: table-cell;
      vertical-align: middle; }

.package {
  margin-top: 40px; }
  .package .package-body {
    margin-bottom: 60px; }
    .package .package-body .six-h {
      margin: 0 0 30px; }
  .package .package-footer img {
    width: 100%; }

/*# sourceMappingURL=brand-source.css.map */
