@import "../common/sass/common-function";
@import "../common/sass/common-structure";


@import "brand-source.font";
@import "brand-source.color";

.large-1-h {
  margin: 50px auto;
}

.section-one {
  position: relative;
  padding: 50px 9% 0;
  height: 265px;
  margin-bottom: 28px;
  .head-img {
    position: absolute;
    bottom: -1px;
    right: 10%;
    @media (max-width: 415px) {
      width: 120px;
    }
  }
}

.section-two {
  margin-top: 28px;
  .package {
    margin-top: 100px;
  }

  .img-responsive {
    margin: 0 auto;
    position: relative;
    top: 18px;
    @media (min-width: 1200px) {
      top: 80px;
    }
    @media (min-width: 991px) and (max-width: 1199px){
      top: 180px;
    }
  }
}

.section-three {
  padding: 10% 9% 100px;
  .headline {
    @include verticalContainer;
    margin: 0 auto 40px;
    height: 146px;
    width: 146px;
    div {
      @include verticalCell;
    }
  }
  @media (max-width: 415px) {
     .headline {
      margin: 0 auto 8px;
      height: auto;
    }
    padding-bottom: 50px;
  }
}

.package {
  margin-top: 40px;

  .package-body {
    margin-bottom: 60px;
    .six-h {
      margin: 0 0 30px;
    }
  }

  .package-footer {

    img {
      width: 100%;
    }

  }
}








