@import "../common/sass/common-color";

$red: #f00;
$headlineBackColor: #818385;

.section-one {
  background: $red;
}


.section-three {
  background: url("../assets/imgs/brand-source/back.png") no-repeat ;
  background-size: 100% 100%;

  .headline {
    background: $headlineBackColor;
  }
}


