.max-container {
  max-width: 1700px;
}
a, .btn.btn-link{
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.common-hr {
  background: #aeb0b3;
  height: 2px;
  margin: 25px auto;
}