@import url(magic.min.css);
a:hover {
    text-decoration: none!important;
}
article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,iframe,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font-family:tahoma,Arial,"Microsoft YaHei",SimSun;font-size:12px;line-height:1.5em;color:#222}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
body{font:12px Arial,"Microsoft YaHei",Helvetica,sans-serif,Verdana;color:#5a5a5a;position:relative;background-color:#fff;}
fieldset,img{border:0}
img{vertical-align:top}
address,caption,cite,dfn,em,optgroup,th,var{font-style:normal;font-weight:400}
article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
li,ol,ul{list-style:none}
a{text-decoration:none;color:#5a5a5a}
a:hover{color:red}
a:active{color:#d7000f}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
button,input,select{vertical-align:baseline;font-family:tahoma,\5b8b\4f53,arial;font-size:100%;border:none;background:0 0}
input[type=checkbox],input[type=radio]{vertical-align:middle;margin:0 5px}
input[type=text],input[type=password],textarea{outline-style:none;-webkit-appearance:none}
textarea{resize:none}
textarea{overflow:auto;font:100% tahoma,\5b8b\4f53,arial}
table{border-collapse:collapse;border-spacing:0}
*,:after,:before{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;outline: none;}
body{position: relative;}
body.hasbg{background: #F1F1F1;}
.divcontent *{width:100%}
.mineborder{background-color:#fff;box-shadow:0 2px 5px rgba(0,0,0,.5);-moz-box-shadow:0 2px 5px rgba(0,0,0,.5);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.5)}
.fullwidth{width:100%}
.imagecontainer{width:100%;height:100%;display:table;table-layout:fixed}
.imagecontainer-tr{display:table-cell;vertical-align:middle}
.clear{clear:both;height:0;line-height:0;font-size:0}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.fleft{float:left}
.fright{float:right}
.hovertobigger{-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;}
.hovertobigger:hover{-moz-transform:scale(1.05,1.05);-webkit-transform:scale(1.05,1.05);-o-transform:scale(1.05,1.05);-ms-transform:scale(1.05,1.05);transform:scale(1.05,1.05);color:#000}
.padbottom{padding-bottom:30px}
.maincolor{color:#0068B6;}
.mainbgcolor{background-color:#0068B6;color: white;}
.mainbgcolor:hover{background-color: #61AA31;}
.mainbgcolor.nohover:hover{background-color:#0068B6;}
.maxbox{width:95%;margin:0 auto;max-width: 1700px;position: relative;}
.weixin{ position:fixed; width:300px; height:280px; z-index:100000; left:50%; top:50%; margin:-120px 0 0 -150px; background:#fff; border:1px solid #ddd; border-radius:2px; box-shadow:1px 1px 10px #666;}
.weixin .c{ position:absolute; width:30px; height:30px; background:url(../../../assets/imgs/x.png); overflow:hidden; text-indent:100px; right:0; top:0; font-size:20px; font-style:normal; text-align:center; cursor:pointer; z-index:2;}
.weixin h2{ position:relative; line-height:30px; font-size:16px; padding-left:10px; font-weight:normal;}
.weixin .img{ padding:30px 0 10px; text-align:center; border-top:1px solid #ddd;}
.weixin p {  margin:0 1.5%; text-align:center;  }
.weixin .img img{ width:150px; height:150px; display:block; margin:0 auto 10px; }
.textcenter{
    /* Center slide text vertically */
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.relative{position: relative;}
.header{position: relative;}

.showinpc{display: block;}
.showinmobile{display: none;}
@media only screen and (max-width:700px){

    .showinpc{display: none;}
    .showinmobile{display: block;}
}
.header .menubtn.tip {
    opacity: 1;
}
.goup-container{background-color:black!important;z-index:5;border-radius:0!important;text-align: center;}
.goup-container:after{content:"TOP";text-align: center;color: white;}
.goup-container .goup-arrow{position: absolute;top:-10px;}
.contact-form{margin:5em 0}
.contact-form h3{font-size:1.4em;line-height:3em}
.contact-form input[type=text]{display:inline-block;background:0 0;border:1px solid #A3A1A1;width:32%;margin:0;margin-bottom:1em;outline:0;font-size:16px;color:#747577;font-weight:500;padding:10px 15px 10px 15px}
.contact-form input[type=email]{display:inline-block;background:0 0;border:1px solid #A3A1A1;width:32%;margin:0 1.5%;margin:0 calc(2% - 4px);margin-bottom:1em;outline:0;font-size:16px;color:#747577;font-weight:500;padding:10px 15px 10px 15px}
@media only screen and (max-width:550px){.contact-form input[type=text],.contact-form input[type=email]{width:100%;margin:0 auto;margin-bottom:1em}
}
.contact-form textarea{background:0 0;border:1px solid #A3A1A1;width:100%;display:block;height:150px;outline:0;font-size:16px;color:#747577;font-weight:500;padding:10px 15px 10px 15px}
.contact-form input[type=submit]{background:#1BBC9B;border:1px solid #1BBC9B;padding:.6em 0;width:14%;margin-top:2em;font-size:16px;color:#fff;font-weight:400;letter-spacing:1px;outline:0;transition:.5s all}
.contact-form input[type=submit]:hover{color:#1BBC9B;background:0 0}
.contact-form p{font-size:1.5em;line-height:2em}
.fullpage{position:relative;width:100%;padding-top:1em;padding-bottom:3em;margin:0 auto}
.fullpage #map-image{position:absolute;top:0;left:0;bottom:0;right:0;z-index:1;opacity:.1;filter:alpha(opacity=10);overflow:hidden;z-index:-1}
.fullpage #map-image img{height:100%;width:100%}
.black-bg{background-color:#000;color:#fff;background-color:rgba(0,0,0,.7)}
.black-bg *{color:#fff}

.margintop2{margin-top:2em}
.container{position:relative;overflow: hidden;}
.seemore{font-size:1.3em;padding:10px 0;text-align:center;width:110px;margin:1em auto;background-color:#f0f8ff}
.seemore:hover{background-color:#c65a2e;background-color:rgba(198,90,46,.7);color:#fff;-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear;-ms-transition:all .4s linear;transition:all .4s linear}
.indent{text-indent:2em}
.max2line{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.max3line{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.max4line{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.max7line{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.singleline{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.indexmaxbox{width: 1000px;margin:40px auto;max-width: 95%;position: relative;}
.tcenter{text-align:center}

.mapbox{width:100%;height:100%;position:relative}
.mapbox .contentbox{width: 95%;margin:0 auto;}
.join_j_section{width:100%;height:100%}
.join_j_section .join_j_section_div{height:100%;width:100%;overflow:hidden;position:relative}
.join_j_section .join_j_section_div *{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
#allmap{padding:0;margin:0;height:450px;overflow:hidden;position:relative}
#mappanel{float:none;width:100%;overflow:auto}
#mappanel *{width:100%}
@media only screen and (max-width: 960px){
    #allmap{height:350px;}
    .hovertobigger:hover{-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
}
@media only screen and (max-width:550px){
    #allmap{height:300px;}

}

.service-more{
    background:#333131;color:white;
}
.service-more .title{text-align: center;color: white;padding:50px 0;}
.font18{font-size: 18px;line-height: 30px;}
.font48{font-size: 48px;line-height: 60px;}

.service-more .itemset .item{width:32%;float:left;text-align: center;font-size: 48px;color: #89898A;background: #CACACB;line-height: 150px;margin-bottom:35px;font-weight: bold;}
.service-more .itemset .item.o{margin-left:2%;margin-right: 2%;}
.service-more .itemset .item:hover{background: #5A5858;color: white;}
.time1{transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear;-ms-transition:all .4s linear;}
.footer{color: #878484;background: #333131;}
.footer a{color: #878484;}
.footer a:hover{color:white;}
.footer .bar{background: #5A5858;padding:25px 0;color:#DDDDDD;}
.footer .bar a{color:#ddd;}
.footer .bar a:hover{color:white;}
.footer .bar .maxbox{position: relative;padding-left:238px;}
.footer .bar .logo{position: absolute;width:220px;top:0;left:0;padding-right: 15px;border-right:2px solid #DDDDDD;height: 62px;}
.footer .bar .logo img{width: 100%;}
.footer .bar .text p.big{font-size: 20px;font-weight: bold;padding-bottom: 10px;padding-top: 5px;}
.footer .bar .icon{position: absolute;width:45px;height: 45px;top:8px;right:0;cursor: pointer;}
.footer .bar .icon.shang{background: url(../../../assets/imgs/footer/shang.png) no-repeat center;background-size: 100%;}
.footer .bar .icon.xia{background: url(../../../assets/imgs/footer/xia.png) no-repeat center;background-size: 100%;}
.footer .line{width:100%;height:2px;background: #888;margin:30px 0;}
.footer .siteinfo{width: 70%;float:left;padding-top: 40px;}
.footer .siteinfo .item{float: left;line-height: 30px;}
.footer .siteinfo .item .title{font-size: 16px;position: relative;line-height: 40px;width:100%;border-bottom:2px solid #E89199;border-color:rgba(200,0,0,0.2);margin-bottom: 10px;}
.footer .siteinfo .item .title .more{position: absolute;right: 0;top:0;line-height: 40px;}

.footer .siteinfo .item.i1{width:20%;}
.footer .siteinfo .item.i1 a{width:100%;display: block;line-height: 30px;}
.footer .siteinfo .item.i1 .left,.footer .siteinfo .item.i1 .right{width:50%;float: left;}
.footer .siteinfo .item.i1 .left{text-align: left;}
.footer .siteinfo .item.i1 .right{text-align: right;}
.footer .siteinfo .item.i2{width:30%;margin:0 5%;}
.footer .siteinfo .item.i2 .space{width:62px;height: 5px;display: inline-block;}
.footer .siteinfo .item.i3{width:40%;}
.footer .codeset{width:28%;float: right;padding-top: 30px;}
.footer .codeset .codeitem{width:30%;float:left;text-align: center;line-height: 30px;font-size: 16px;}
.footer .codeset .codeitem.o{margin:0 5%;}
.footer .codeset .codeitem img{width:100%;}
.footer .outerlink .title{font-size: 16px;line-height: 40px;}
.footer .outerlink ul li{margin-right: 15px;line-height: 25px;display: inline-block;}
.footer .contactus{padding-bottom: 30px;position: relative;}
.footer .contactus span.big{font-size: 16px;}
.footer .contactus .right{position: absolute;top:0;right:0;text-align: right;}
.footer .contactus .right .space{width:30px;height: 5px;display: inline-block;}
.pfooter{text-align: center;padding:130px 0;}
.pfooter .slogo{}
.pfooter .text{letter-spacing: 1em;font-size: 20px;color:#717171;margin:80px 0;}
.pfooter .btnshowcode{width:50px;height: 50px;margin:0 auto;padding:10px;background: #EFEFEF;cursor: pointer;}
.pfooter .btnshowcode:hover{background: #ddd;}
.pfooter .codeimg{width:150px;margin:0 auto;line-height: 30px;}
.pfooter .codeimg img{width: 100%;padding:10px;background: #EFEFEF;}
.pfooter .btnshowcode img{width:100%;height: 100%;}
@media only screen and (max-width:1680px){
    .footer .siteinfo .item.i2 .space{width:40px;}
}
@media only screen and (max-width:1366px){
    .font18{font-size: 17px;line-height: 30px;}
    .font48{font-size: 35px;line-height: 50px;}
    .footer .siteinfo .item.i2 .space{width:16px;}
    .footer .codeset .codeitem{width:32%;}
    .footer .codeset .codeitem.o{margin:0 2%;}
    .footer .codeset{padding-top: 45px;}
    .footer .line{margin:20px 0;}
    .footer .contactus{padding-bottom: 20px;}
    .service-more .itemset .item{font-size: 30px;line-height: 100px;margin-bottom:22px;}
    .pfooter{padding:80px 0;}
    .pfooter .text{margin:50px 0;}
}
@media only screen and (max-width:1024px){
    .footer .siteinfo{width: 100%;}
    .footer .codeset{width: 100%;display: none;}
    .footer .contactus{text-align: center;line-height: 20px;}
    .footer .contactus .right{position: relative;left:0;right:auto;text-align: center;}
    .footer .contactus span.big{display: none;}
    .pfooter{padding:50px 0;}
    .pfooter .text{margin:50px 0;}
}
@media only screen and (max-width:800px){
    .footer .siteinfo .item.i3{display: none;}
    .footer .siteinfo .item.i1{width:40%;}
    .footer .siteinfo .item.i2{width:55%;margin-right: 0;margin-left: 5%;}
    body{font-size: 12px;}
    .footer .siteinfo .item .title,.footer .outerlink .title{font-size: 15px;}
    .footer .siteinfo .item,.footer .siteinfo .item.i1 a{line-height: 25px;}

}
@media only screen and (max-width:550px){
    .font48{font-size: 30px;line-height: 50px;}
    .service-more .itemset .item{font-size: 20px;line-height: 60px;margin-bottom:15px;}
    .footer .bar .logo{display: none;}
    .footer .bar .maxbox{padding-left: 0;}
    .footer .bar{padding:15px 0;}
    .footer .outerlink ul li{margin-right: 10px;}
    .footer .line{margin:10px 0;}
    .footer .contactus{padding-bottom: 10px;}
    .footer .siteinfo{padding-top: 20px;}
    .pfooter .text{font-size: 16px;letter-spacing: 8px;margin:30px 0;}
    /*.pfooter{padding:30px 0;}*/
}
@media only screen and (max-width:450px){
    .footer .siteinfo .item{width:100%!important;display: block!important;}
    .footer .siteinfo .item.i2{margin:20px 0;}
    .footer .contactus{font-size: 10px;}
    .footer .bar .text p.big{font-size: 15px;padding-top: 0;}
    .footer .bar .icon{top:8px;width:30px;height: 30px;background-size: 100% 100%;}
    .footer .siteinfo .item .title .more{line-height: 30px;}
    .footer .siteinfo .item .title,.footer .outerlink .title{font-size: 14px;line-height: 30px;}
    .service-more .itemset .item{font-size: 18px;line-height: 50px;margin-bottom:10px;}
    .font48{font-size: 25px;line-height: 40px;}
    .font18{font-size: 14px;line-height: 25px;}
    .service-more .title{padding:30px 0;}
    .footer .outerlink{display: none;}
    .footer .line.ofouterlink{display: none;}
}
@media only screen and (max-width:400px){.service-more .itemset .item{margin-bottom:6px;}}
.header{color:#595857;width:100%;background: white;position: relative;z-index: 214748;}
.header,.header *{transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;}
.header .maxbox{position: relative;}
.header .logo{position: absolute;top:0;left:0;padding:20px 0;}
.header .logo img{height: 58px;width: auto;}
.header .menubtn{position: absolute;top:20px;right:0;width:35px;height:35px;cursor:pointer;display: none;transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;}
.header .menubtn.close{background: url(../../../assets/imgs/header/menu.png) no-repeat center;}
.header .menubtn.open{background: url(../../../assets/imgs/header/menu-open.png) no-repeat center;}
.header .menubtn.tip{background: url(../../../assets/imgs/header/menu-tip.png) no-repeat center;}
.header .right{text-align: right;padding:30px 0;padding-right: 250px;}
.header ul {
    margin-bottom: 0!important;
}
.header .right.nocontact{padding-right: 0;}
.header .right.bcontact{padding-right:280px;}
.header .right .menu{padding:10px 0;}
.header .right .menu li{position: relative;text-align: center;border-left:2px solid #595857;font-size: 18px;line-height: 18px;width:140px;float: left;}
.header .right .menu.s li{width: 120px;}
@media only screen and (max-width: 1700px){
    .header .right .menu {
        padding-left: 290px !important;
    }
}
.header .menu li a:hover {
    text-decoration: none;
    
}
.header .right .menu {
    padding: 10px 0;
    padding-left: 400px;
}
.header .menu li a {
    font-size: 16px;
}
.header p {
    margin-bottom: 0;
    font-family: Arial,"Microsoft YaHei",Helvetica,sans-serif,Verdana;
    line-height: initial;
}
.header .right .menu li .border{position: absolute;left:0;bottom:-10px;height: 0px;display: none\9;background: red;width:100%;}
.header .right .menu li.active .border,.header .right .menu li:hover .border{bottom:-41px;background: red;display:block\9;height: 5px;-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear;-ms-transition:all .4s linear;}
.header .right .menu li.first{border:0;}
.header .right .menu li.big{width:180px;}
.header .right .menu.s li.big{width:160px;}
.header .right .menu li a{display: block;color:#595857;}
.header .right .menu li.active a,.header .right .menu li:hover a{color:red;}
/*.header-footer .right .menu li.btn{width: 60px;border:0;cursor: pointer;text-align: right;}
.header-footer .right .menu li.btn,.header-footer .right .menu li.btn *{-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;}
.header-footer .right .menu li.btn svg:hover,.header-footer .right .menu li.btn svg:hover *{fill:red;fill:red!important;color: red;}*/
.header .right .oprbtnlist{position: absolute;top:0;right: 0;}
.header .right .oprbtn{width: 50px;border:0;cursor: pointer;text-align: right;display: block;float: left;padding-top: 10px;}
.header .right .oprbtn,.header .right .oprbtn *{-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-o-transition:all 0s linear;-ms-transition:all 0s linear;}
.header .right .oprbtn svg:hover,.header .right .oprbtn svg:hover *{fill:red;fill:red!important;color: red;}
.header .right .oprbtn.othermenu{background: url(../../../assets/imgs/header/menu.png) no-repeat center right\9;height: 35px\9;}
.header .right .oprbtn.search{background: url(../../../assets/imgs/header/search14.png) no-repeat center right\9;height: 35px\9;}
.header .right .contact{position: absolute;right:0;top:30px;}
.header .right .contact .box{position: relative;padding-left: 45px;padding-right: 70px;text-align: left;font-size: 12px;padding-top: 3px;}
.header .right .contact.hasoprbtn .box{padding-right: 100px;}
.header .right .contact .box p.big{font-size: 18px;font-weight: bold;}
.header .right .contact .box img{
    width: 35px;height:35px;position: absolute;top:0;left:0;
}
.header .right .contact .box .btn{
    width: 35px;height:35px;position: absolute;top:0;right:0;background: #595857;border-radius: 5px;cursor: pointer;
}
.header .right .contact .box .btn.shang{background: #595857 url(../../../assets/imgs/header/v-prev.png) no-repeat center;}
.header .right .contact .box .btn.xia{background: #595857 url(../../../assets/imgs/header/v-next.png) no-repeat center;}
body.headerfixed{padding-top: 60px;}
body.headerfixed .header{position: fixed;top:0;left:0;box-shadow: 0 2px 3px rgba(0,0,0,0.2);border-bottom: 1px solid #ccc\9;}
body.headerhasborder .header{box-shadow: 0 2px 3px rgba(0,0,0,0.2);border-bottom: 1px solid #ccc\9;}
body.headerfixed .header .logo{padding:5px 0;}
body.headerfixed .header .logo img{height:50px;width: auto;}
body.headerfixed .header .right{padding-top:11px;padding-bottom: 11px;}
body.headerfixed .header .right .menu li.active .border,body.headerfixed .header .right .menu li:hover .border{bottom:-21px;}
body.headerfixed .header .right .contact{top:13px;}

.mobilemenu{position: fixed;top:0;left:0;width:100%;height:100%;padding-top: 60px;z-index: 214747;background:white;display: none;}

.mobilemenu .box{
    width: 95%;height: 100%;position: relative;overflow: auto;padding-top: 20px;text-align: center;
}
.mobilemenu .box .line{width: 100%;border-bottom: 1px dashed #C9CACA;margin-top:30px;margin-bottom: 10px;}
.mobilemenu .box .menuset .settitle{
    font-size: 20px;line-height: 50px;
}
.mobilemenu .box .menuset ul li{width:33%;float: left;margin-bottom: 0.5%;background: #EFEFEF;font-size: 20px;line-height: 45px;}
.mobilemenu .box .menuset ul li:nth-child(3n-1){margin-left:0.5%;margin-right: 0.5%}
.mobilemenu .box .menuset ul li a{display: block;color:#595857;}
.mobilemenu .box .menuset ul li:hover{background: #595857;}
.mobilemenu .box .menuset ul li:hover a{color:white;}
.mobilemenu .box .menuset ul li.disable{background: #EFEFEF!important;}
.mobilemenu .box .menuset ul li.disable a{color:#C9CACA!important;}
@media only screen and (max-width:1366px){
    .header .right .menu.s li{width: 100px;}
    .header .right .menu.s li.big{width: 120px;}
    .header .right .menu li{font-size: 16px;}
    .header .right.bcontact{padding-right: 240px;}
}
@media only screen and (max-width:1280px){
    .header .right{display: none;}
    .header .maxbox{height:75px;overflow: hidden;}
    .header .logo{padding:10px 0;}
    .header .logo img{height: 50px;width: auto;}
    .header .menubtn{display: block;}
    body.headerfixed .header .maxbox{height: 54px;}
    body.headerfixed .header .logo{padding:6px 0;}
    body.headerfixed .header .logo img{height: 42px;width: auto;}
    body.headerfixed .header .menubtn{top:12px;}

}
@media only screen and (max-width:1024px){
    /*.header-footer{background: rgb(220,220,220);}*/
    .header .right{padding-right: 180px;}
    .header .right .menu li{width:110px;}
    .header .right .menu li.big{width:140px;}
    .header .right .contact .box{padding-right: 55px;}
    .header .right .menu li{font-size: 16px;}
}

@media only screen and (max-width:768px){
    .mobilemenu .box .menuset ul li{width:32%;float: left;margin-bottom: 2%;}
    .mobilemenu .box .menuset ul li:nth-child(3n-1){margin-left:2%;margin-right: 2%}
    .header .logo{padding:22px 0;}
    .header .logo img{height: 31px;width: auto;}
    .header .menubtn{top:19px;}
    body.headerfixed .header .logo{padding:8px 0;}
    body.headerfixed .header .logo img{height: 31px;}
    body.headerfixed .header .maxbox{height:47px;}
    body.headerfixed .header .menubtn{top:6px;}
}
@media only screen and (max-width:550px){
    .mobilemenu .box .menuset ul li{font-size: 16px;line-height: 40px;}
    .mobilemenu .box .line{margin-top:20px;margin-bottom: 10px;}
}
@media only screen and (max-width:400px){
    .mobilemenu .box .menuset ul li{font-size: 13px;line-height: 35px;}
    .mobilemenu .box .menuset .settitle{font-size: 16px;line-height: 40px;}
    .mobilemenu .box .line{margin-top:10px;margin-bottom: 5px;}
}
.overback{position:fixed;width:100%;height:150%;left:0;top:-50%;background:black;z-index: 2147483641;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display:none;
}
.overback{
    background: white;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dialog{z-index:2147483642;display: none;}
.dialogofcode{width:800px;height:430px;position:fixed;top:50%;left:50%;margin-left:-400px;margin-top:-215px;text-align:center;}

.dialogofcode .codeitem{width:30%;float:left;margin:0 1.6%;background:white;border-radius:5px;padding:20px 0;}
.dialogofcode .codeitem img{width:160px;}
.dialogofcode .codeitem p{font-size:14px;color:#5A5858;line-height:25px;}
.dialogofcode .codeitem p.big{font-size:18px;line-height:40px;}
.dialogofcode .codebox{position:relative;}
.dialogofcode .codeopr{clear:both;position:absolute;width:100%;height:100%;top:0;left:0;display:none;}
.dialogofcode .codeopr .item{position:relative;width:50%;float:left;z-index:3;padding-top:95px;cursor:pointer;}
.dialogofcode .codeopr .item img{width:25px;}
.dialogofcode .codeopr .item img{cursor:pointer;margin-bottom:40px;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari �� Chrome */
    -o-transition: all .3s; /* Opera */
    opacity: 1;
}
/*.dialogofcode .codeopr .item:hover img{
transform:scale(1.1,1.1); 
-ms-transform:scale(1.1,1.1);  	
-moz-transform:scale(1.1,1.1);  	
-webkit-transform:scale(1.1,1.1);  
-o-transform:scale(1.1,1.1);  	
    opacity: 1;
}*/
.dialogofcode .codeopr .item.prev{text-align:left;padding-left:3px;}
.dialogofcode .codeopr .item.next{text-align:right;padding-right:3px;}
.dialog .closebtn{cursor:pointer;margin-bottom:40px;
    transition: all .3s;
    -moz-transition: all .3s; /* Firefox 4 */
    -webkit-transition: all .3s; /* Safari �� Chrome */
    -o-transition: all .3s; /* Opera */
}

.dialogofkf .closebtn{margin-bottom:20px;}
.dialog .closebtn:hover{
    transform:scale(1.1,0.8);
    -ms-transform:scale(1.1,0.8);  	/* IE 9 */
    -moz-transform:scale(1.1,0.8);  	/* Firefox */
    -webkit-transform:scale(1.1,0.8);  /* Safari �� Chrome */
    -o-transform:scale(1.1,0.8);  	/* Opera */
}

.dialog .closebtn.hasborder{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 3px solid rgba(0,0,0,.1);
    border-color: #E6E6E6;
    border-color: rgba(0,0,0,.1);
    text-align: center;
    cursor: pointer;
    padding-top: 26px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 50px;

}
.dialog .closebtn.hasbg{
    background: #bbb;
}
.dialog .closebtn.hasborder:hover{
    transform:scale(1,1);
    -ms-transform:scale(1,1);  	/* IE 9 */
    -moz-transform:scale(1,1);  	/* Firefox */
    -webkit-transform:scale(1,1);  /* Safari �� Chrome */
    -o-transform:scale(1,1);  	/* Opera */
    border-color:red;
}
.dialogofsearch{position: fixed;top:50%;left:50%;width: 750px;height: 340px;margin-left: -375px;margin-top:-170px;text-align: center;max-width: 95%;}
.dialogofsearch .dialogofsearch-input{

    margin: 0 auto;
    border: none;
    outline: 0;
    width: 100%;
    -webkit-transition: all 1s cubic-bezier(.23,1,.32,1);
    -moz-transition: all 1s cubic-bezier(.23,1,.32,1);
    transition: all 1s cubic-bezier(.23,1,.32,1);
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,"Microsoft Yahei",SimSun!important;
    font-weight: 700!important;
    color: #2d292a;
    border-bottom: 3px solid #ddd!important;
    border-radius: 0;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 1;
}
.dialogofsearch .btn.enter{width: 80px;line-height: 30px;text-align: center;color: #2d292a;border:2px solid #ddd;margin:0 auto;margin-top: 80px;cursor: pointer;font-size: 16px;border-radius: 5px;}
.dialogofsearch .btn.enter:hover{color: red;border-color: red;}
.dialogofmoremenu{position: fixed;top:50%;left:50%;width: 750px;height:480px;margin-left: -375px;margin-top:-240px;text-align: center;max-width: 95%;}
.dialogofmoremenu ul a{display: block;}
.dialogofmoremenu ul li{
    font-size: 30px;line-height: 35px;color: #2d292a;margin-bottom: 15px;font-weight: bold;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear;
    display: inline-block;position: relative;
}
.dialogofmoremenu ul li:after {
    content: '';
    height: 2px;
    background-color: red;
    width: auto;
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
    -webkit-transition: all .6s cubic-bezier(.165,.84,.44,1);
    -moz-transition: all .6s cubic-bezier(.165,.84,.44,1);
    transition: all .6s cubic-bezier(.165,.84,.44,1);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.dialogofmoremenu ul li:hover:after {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}
.dialogofmoremenu ul li:hover{color: red;}
@media only screen and (max-width: 1024px){
    .dialogofcode {
        width: 100%;
        margin-left: 0;
        left: 0;
        height: auto;
        top: 3%;
        margin-top: 0;
    }
}
@media only screen and (max-width:750px){
    .dialogofmoremenu,.dialogofsearch{margin-left: 0;}
    .dialogofcode{top:8%;}
    .dialogofcode .codeopr{display:block;}
    .dialogofcode .codeitem{width:230px;padding:10px 0;margin:0 auto;float:none;display:none;}
    .dialogofcode .codeitem.active{display:block;}
    .dialogofcode .closebtn{margin-bottom:30px;}
    .dialogofcode .codeitem p{line-height:20px;}
    .dialogofcode .codeitem p.big {
        font-size: 16px;
        line-height: 20px;
    }
    .dialogofcode .codeitem img{width:200px;position:relative;z-index:5;}
    .dialogofcode .codeitem p.big{display:none;}
}
.pagetitle{text-align: center;color: #3E3A39;margin:80px 0;}
.container.index .pagetitle{margin:50px 0;}
.pagetitle p{line-height: 40px;font-size: 32px;}
.pagetitle p .en{margin-right: 20px;}
/*.pagetitle p .cn{font-size: 32px;}*/
.pagetitle .border{width:80px;height: 5px;background:#3E3A39;margin:10px auto;}
.pagetitle .desc{color: #717171;font-size: 20px;letter-spacing: 15px;margin:0 auto;line-height: 30px;max-width: 600px;}
.pagetitle .desc.small{letter-spacing: 0;font-size: 16px;}
.pagetitle.white,.pagetitle.white .desc{color: white;}
.pagetitle.white .border{background: white;}
@media only screen and (max-width:1366px){
    .pagetitle p{line-height: 35px;font-size: 25px;}
    .pagetitle .desc{font-size: 18px;letter-spacing: 8px;}
    .pagetitle .desc.small{font-size: 14px;}
    .pagetitle{margin:50px 0;}
}
@media only screen and (max-width:760px){
    .pagetitle p{line-height: 30px;font-size: 20px;}
    .pagetitle .desc{font-size: 16px;letter-spacing: 5px;}
    .pagetitle .desc.small{font-size: 12px;}
    .container.index .pagetitle,.pagetitle{margin:30px 0;}
    .pagetitle .border{width:50px;height: 4px;background:#3E3A39;margin:10px auto;}
}
@media only screen and (max-width:400px){
    .pagetitle p{line-height: 25px;font-size: 18px;}
    .pagetitle p .en{margin-right: 10px;}
    .pagetitle .desc{font-size: 14px;letter-spacing: 0px;line-height: 25px;}
    .pagetitle .desc.small{font-size: 11px;}
    .container.index .pagetitle,.pagetitle{margin:20px 0;}
}
.icon {
    background-image: url(../../../assets/imgs/icon.png);
    display: block;
}
.pic_11 {background-position: -170px -35px; width: 32px; height: 31px; }
.pic_12 {background-position: -215px -35px; width: 32px; height: 31px; }
.pic_13 {background-position: -260px -35px; width: 32px; height: 31px; }
.pic_20 {background-position: -260px -70px; width: 32px; height: 31px; }
.pic_19 {background-position: -215px -70px; width: 32px; height: 31px; }
.pic_6 {background-position: -0px -120px; width: 61px; height: 61px; }
.pic_5 {background-position: -90px -120px; width: 61px; height: 61px; }
.pic_18 {background-position: -170px -70px; width: 32px; height: 31px; }
.pic_26 {background-position: -225px -0px; width: 16px; height: 16px; }
.pic_25 {background-position: -205px -0px; width: 14px; height: 16px; }
.pic_24 {background-position: -185px -0px; width: 14px; height: 16px; }
.pic_23 {background-position: -160px -0px; width: 16px; height: 16px; }
.pic_22 {background-position: -145px -0px; width: 14px; height: 16px; }
.pic_21 {background-position: -130px -0px; width: 14px; height: 16px; }
.pic_10 {background-position: -130px -35px; width: 32px; height: 31px; }
.pic_9 {background-position: -90px -35px; width: 32px; height: 31px; }
.pic_8 {background-position: -45px -35px; width: 32px; height: 31px; }
.pic_7 {background-position: -0px -35px; width: 32px; height: 31px; }
.pic_17 {background-position: -130px -70px; width: 32px; height: 31px; }
.pic_16 {background-position: -90px -70px; width: 32px; height: 31px; }
.pic_15 {background-position: -45px -70px; width: 32px; height: 31px; }
.pic_14 {background-position: -0px -70px; width: 32px; height: 31px; }
.pic_1 {background-position: -0px -0px; width: 16px; height: 16px; }
.pic_2 {background-position: -16px -0px; width: 9px; height: 13px; }
.pic_3 {background-position: -25px -0px; width: 4px; height: 8px; }
.pic_4 {background-position: -29px -0px; width: 20px; height: 7px; }
.share { padding-top:20px; text-align:center; line-height:31px; font-size:1.5em; letter-spacing: 0;}
.share .icon{ display:inline-block; vertical-align:middle; margin:0 5px; transition:0.8s transform; -webkit-transition:0.8s transform;}
.share .icon { border-radius:100%; overflow:hidden; width:31px !important; height:31px !important;}
.share .icon:hover { transform:rotate(360deg); -webkit-transform:rotate(360deg);}
.share .icon.pic_14:hover { background-position:-0px -35px;}
.share .icon.pic_15:hover { background-position:-45px -35px;}
.share .icon.pic_16:hover { background-position:-90px -35px;}
.share .icon.pic_17:hover { background-position:-130px -35px;}
.share .icon.pic_18:hover { background-position:-170px -35px;}
.share .icon.pic_19:hover { background-position:-215px -35px;}
.share .icon.pic_20:hover { background-position:-260px -35px;}

@media only screen and (max-width:400px){
    .share .icon{margin:0 2px;}
}
.sider-bar{position:fixed;bottom:0;right:0;width:45px; z-index:1000;}
.sider-bar .sb-top{background:#ccc; text-align:center;font-size:14px;font-weight:bold;color:white;height: 45px;line-height: 45px;width:45px;position:relative;cursor: pointer;display:none;}
.sider-bar .sb-top:hover{background:gray;}
.sider-bar .sb-top .arrow{position:absolute; top:-5px;left:16px;width:16px;height:16px;background:#ccc;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.sider-bar .sb-top .arrow:hover{background:gray;}
.sider-bar .sb-fx,.sider-bar .sb-kf,.sider-bar .sb-qq,.sider-bar .sb-ewm-app{background:#BD0808;position:relative;cursor: pointer;color:white;height: 45px;line-height: 45px;width:45px;clear:both;-webkit-transition: All 0.9s;-moz-transition: All 0.9s;-o-transition: All 0.9s;}
.sider-bar .sb-ewm-app .arrow{background: url(../../../assets/imgs/ico2.png) -21px center no-repeat;width: 24px;height: 46px;display: block;margin-left: 10px;}
.sider-bar .sb-ewm-app .sb-w{position:absolute;bottom:0;left:-300px;background:white;border:1px solid #ccc;display:none;max-width:300px}/**/
.sider-bar .sb-ewm-app .sb-w img{margin:8px;width:120px;}
.sider-bar .sb-ewm-app .sb-w .arrow{position:absolute; top:80%;right:-5px;width:8px;height:8px;background:white;border-right:1px solid #ccc;border-top:1px solid #ccc;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.sider-bar .sb-kf .arrow{background: url(../../../assets/imgs/ico2.png) -44px center no-repeat;width: 26px;height: 46px;display: block;margin-left:8px;float:left;}
.sider-bar .sb-qq .arrow{background: url(../../../assets/imgs/ico2.png) 0 center no-repeat;width: 22px;height: 46px;display: block;margin-left: 12px;float:left;}
.sider-bar div {margin: 1px 0 0;float: right;cursor: pointer;font-size: 12px;}
.sider-bar .sb-fx p{padding-left:10px;font-size:14px;text-align:left;}
.sider-bar .sb-kf p{padding-left:50px;font-size:14px;color:White;}
.sider-bar .sb-qq p{padding-left:50px;font-size:14px;color:White;}
.sider-bar .sb-fx .sb-f{position:absolute;left:50px;top:0;}
.sider-bar .sb-ewm-app:hover{background:gray;}
.sider-bar .sb-fx:hover{width:150px;text-align:left;-webkit-transition: All 0.9s;-moz-transition: All 0.9s;-o-transition: All 0.9s;background:gray;border-left:4px solid #BD0808;}
.sider-bar .sb-qq:hover,.sider-bar .sb-kf:hover{width:150px;text-align:left;-webkit-transition: All 0.9s;-moz-transition: All 0.9s;-o-transition: All 0.9s;background:gray;border-left:4px solid #BD0808;}
@media only screen and (max-width:960px){.sider-bar{display: none;}}
.banneralert{
    position:fixed;
    width:100%;
    left:0;
    z-index: 514749;

    background:#000;/* for IE8- */
    background:rgba(0,0,0,.85);
    font-size:13px;
}
.banneralert .bannercontainer{
    margin:2px 8px;/* Do not use padding in ".banneralert", use margin here. */
}
.banneralert .bannertitlebar{
    color:#FFF;
    font-weight:bold;
    margin-bottom:1px;
}
.banneralert .bannericon{
    height:16px;
    width:16px;
    margin-right:7px;
    vertical-align:middle;
}
.banneralert .bannercontent{
    color:#FFF;text-align: center;line-height: 40px;
}
.banneralert .bannerhandle{
    text-align:center;
    height:6px;
    width:35px;
    background:#999;
    border-radius:3px;
    margin:3px auto;
    cursor:hand;/* for IE6- */
    cursor:pointer;
}
.prelative{position: relative;}
.onewords{width: 1em;height: 1px;display: inline-block;}
.b{font-weight: 900;}