@import "../common/sass/common-function";
@import "../common/sass/common-structure";

@import "copy-right-font.css";

/*common*/
.content-title, .common-problem-title, .function-title {
  margin-top: 65px;
}

.middle-hr {
  height: 3px;
  background: #313131;
  width: 70px;
  margin: 6px auto;
  border: none;
}

/*global*/
.entry {
  @include maxWidth();
}

/*subtitle*/
.subtitle {
  padding: 15px 0;
}
.content-title, .registry-risk-title, .common-problem-title, .function-title {
  margin-top: 65px;
}

/*brand*/
.brand .modules, .content .modules:first-child {
  margin-top: 25px;

}
.brand {
  position: relative;
  margin-top: 65px;
  padding-top: 35px;
  margin-left: -15px;
  margin-right: -15px;
  .max-width {
    @include maxWidth();
  }
  .modules {
    position: relative;
    top: 54px;
  }
  .col-md-3 {
    @include paddingSmall(4px);
  }
  .module {
    background: white;
    height: 332px;
    padding: 20px 26px 0;
    margin-bottom: 10px;
    img {
      height: 76px;
    }
  }
  .brand-background {
    position: absolute;
    height: 68%;
    width: 100%;
    z-index: -1;
    top: 0;
    background: #13ae67;
  }

}

/*content*/
.content {
  margin-top: 113px;
}
.content .modules {
  margin-top: 30px;
  margin-bottom: 75px;
  @include maxWidth()
}

.content img {
  max-width: 100%;
}

.content .module {
  height: 300px;
  background: greenyellow;
  color: white;
  padding: 23px 23px 0 23px;

  div {
    margin: 54px 0 30px;
  }
  transition: .3s;
  &:hover {
    transform: scale(1.05);
    z-index: 1;
  }
}

.first-row .module:first-child {
  background: #172a88;
}
.first-row .module:first-child + .module {
  background: #00a29a;
}
.first-row .module:first-child + .module + .module {
  background: #00913a;
}


.second-row .module:first-child {
  background: #00a29a;
}
.second-row .module:first-child + .module {
  background: #2ea7e0;
}
.second-row .module:first-child + .module + .module {
  background: #172a88;
}
.third-row .module:first-child {
  background: #8fc31f;
}
.third-row .module:first-child + .module {
  background: #00913a;
}
.third-row .module:first-child + .module + .module {
  background: #00a29a;

}
.third-row .module:first-child + .module + .module + .module{
  background: #036eb8;
}


/*compatibility*/
.shop-registry {
  background: url("../assets/imgs/goods-registry.jpg") no-repeat  ;
  background-size:
          cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/imgs/goods-registry.jpg',sizingMethod='scale');
  background-size: 100% 100%;
  padding: 45px 0 60px 0;
  margin-left: -15px;
  margin-right: -15px;
}
.shop-registry hr {
  width: 70px;
  background: white;
  height: 2px;
  margin: 52px auto;
  margin-top: 8px;
}
.shop-registry-title {
  color: white;
}
.shop-registry-modules {
  .hr {
    width: 37px;
    background: #bbb;
    height: 2px;
    margin: 18px auto;
  }
  @include maxWidth(100%);
  img {
    height: 100px;
    transition: .1s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .col-md-2 {
    @include paddingSmall(4px);
  }
  .shop-registry-module {
    background: white ;
    padding: 35px 30px 0;
    margin-bottom: 10px;
    height: 350px;
    cursor: pointer;
    h5 {
      margin: 23px 0 30px;
    }
    &:hover {
      color: #ea5537;

    }
  }
  .registry-risk-module-title {
    margin-bottom: 40px;
  }
}
.shop-registry-hint {
  margin-top: 36px;
}

/*meal*/
.meal-button-group a:hover {
  text-decoration: none;
}
.meal-button-group .btn-active {
  color: #2ea7e0;
  border-color: #2ea7e0;
}

.meal-download {
  margin: 15px 0 50px 0;
}




/*function*/
.function-modules {
  margin-top: 34px;
}
.function-modules .col-md-2{
  background: red;
  padding: 32px 25px 0;
  color: white;
  height: 217px;
  -moz-transition:  .3s;
  -ms-transition: .3s;
  transition: .3s;
}
.function-modules .col-md-2:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1;
}
.function-modules img {
  height: 30px;
}
.function-modules h5 {
  margin-top: 30px;
}
.function {
  padding-bottom: 20px;
}
.function-modules .col-md-2:first-child + .col-md-2 {
  background: #f5b229;
}

.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 {
  background: #eb5c2e;
}

.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 + .col-md-2 {
  background: #1ba65b;
}
.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 + .col-md-2 + .col-md-2 {
  background: #1d70b9;
}
.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 + .col-md-2 + .col-md-2 + .col-md-2 {
  background: #542b8c;
}

@media (max-width: 991px) {
  .brand {
    div.brand-background {
      height: 100%;
    }
  }
  .function-modules .col-md-2 {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .col-md-offset-1 {
    margin-left: 1.233333%;
  }
  .col-md-1 {
    width:3.333333%;
  }
  .col-md-2 {
    width: 20%;
  }
  .col-md-10 {
    width: 97.733333%;

  }


  .content {
    .col-md-offset-1 {
      margin-left: 2.333333%;
    }
    .col-md-10 {
      width: 95.633333%;
    }
  }
  .shop-registry-modules {
    .col-md-offset-1 {
      margin-left: 2.233333%;
    }
    .col-md-2 {
      width: 19.166667%;
    }
  }
  .function-modules .col-md-2 {
    width: 16.66666667%;
  }
}