/*mixin*/
.max-container {
  max-width: 1700px; }

a:hover, .btn.btn-link:hover {
  text-decoration: none; }
a:active, .btn.btn-link:active {
  text-decoration: none; }

div, button, h1, h2, h3, h4, h5, h6, span, .btn {
  font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif, Verdana; }

.b-big-1-h, .content .module h4 {
  font-size: 41px; }

.big-1-h, .brand .module h4 {
  font-size: 36px; }

.one-h {
  font-size: 32px; }

.small-1-h, .function h5 {
  font-size: 30px; }

.two-h, .brand .module small {
  font-size: 26px; }

.three-h, .shop-registry .shop-registry-module h5 {
  font-size: 24px; }

.four-h, .content .module small {
  font-size: 21px; }

.small-4-h {
  font-size: 20px; }

.five-h, .shop-registry .shop-registry-module small, .shop-registry .shop-registry-hint {
  font-size: 18px; }

.six-h, .brand .module small {
  font-size: 16px; }

.normal-f {
  font-size: 14px; }

.small-f, .function small {
  font-size: 12px; }

@media (max-width: 991px) {
  .b-big-1-h, .content .module h4 {
    font-size: 36px; }

  .big-1-h, .brand .module h4 {
    font-size: 32px; }

  .one-h {
    font-size: 30px; }

  .small-1-h, .function h5 {
    font-size: 26px; }

  .two-h, .brand .module small {
    font-size: 24px; }

  .three-h, .shop-registry .shop-registry-module h5 {
    font-size: 21px; }

  .four-h, .content .module small {
    font-size: 20px; }

  .small-4-h {
    font-size: 18px; }

  .five-h, .shop-registry .shop-registry-module small, .shop-registry .shop-registry-hint {
    font-size: 16px; }

  .six-h, .brand .module small {
    font-size: 14px; }

  .normal-f {
    font-size: 12px; }

  .small-f, .function small {
    font-size: 10px; } }
.body-color, body {
  color: #5a5a5a; }

.common-color, a, .brand small, .brand .module small {
  color: #727171; }

.title-color, .subtitle, .brand-title, .module h4, .content-title, .shop-registry-title, .shop-registry-module, .function-title {
  color: #3F3B3A; }

.second-title-color {
  color: #5A5858; }

.article-color {
  color: #595857; }

/*common*/
.content-title, .common-problem-title, .function-title {
  margin-top: 65px; }

.middle-hr {
  height: 3px;
  background: #313131;
  width: 70px;
  margin: 6px auto;
  border: none; }

/*global*/
.entry {
  display: block;
  margin: 0 auto;
  max-width: 1700px;
  width: 95%; }

/*subtitle*/
.subtitle {
  padding: 15px 0; }

.content-title, .registry-risk-title, .common-problem-title, .function-title {
  margin-top: 65px; }

/*brand*/
.brand .modules, .content .modules:first-child {
  margin-top: 25px; }

.brand {
  position: relative;
  margin-top: 65px;
  padding-top: 35px;
  margin-left: -15px;
  margin-right: -15px; }
  .brand .max-width {
    display: block;
    margin: 0 auto;
    max-width: 1700px;
    width: 95%; }
  .brand .modules {
    position: relative;
    top: 54px; }
  .brand .col-md-3 {
    padding-right: 4px;
    padding-left: 4px; }
    @media (min-width: 992px) {
      .brand .col-md-3:first-child {
        padding-left: 0; }
      .brand .col-md-3:last-child {
        padding-right: 0; } }
    @media (max-width: 991px) {
      .brand .col-md-3:nth-of-type(2n) {
        padding-right: 0; }
      .brand .col-md-3:nth-of-type(2n + 1) {
        padding-left: 0; } }
  .brand .module {
    background: white;
    height: 370px;
    padding: 20px 26px 0;
    margin-bottom: 10px; }
    .brand .module img {
      height: 76px; }
  .brand .brand-background {
    position: absolute;
    height: 68%;
    width: 100%;
    z-index: -1;
    top: 0;
    background: #13ae67; }

/*content*/
.content {
  margin-top: 113px; }

.content .modules {
  margin-top: 30px;
  margin-bottom: 75px;
  display: block;
  margin: 0 auto;
  max-width: 1700px;
  width: 95%; }

.content img {
  max-width: 100%; }

.content .module {
  height: 300px;
  background: greenyellow;
  color: white;
  padding: 23px 23px 0 23px;
  transition: .3s; }
  .content .module div {
    margin: 54px 0 30px; }
  .content .module:hover {
    transform: scale(1.05);
    z-index: 1; }

.first-row .module:first-child {
  background: #172a88; }

.first-row .module:first-child + .module {
  background: #00a29a; }

.first-row .module:first-child + .module + .module {
  background: #00913a; }

.second-row .module:first-child {
  background: #00a29a; }

.second-row .module:first-child + .module {
  background: #2ea7e0; }

.second-row .module:first-child + .module + .module {
  background: #172a88; }

.third-row .module:first-child {
  background: #8fc31f; }

.third-row .module:first-child + .module {
  background: #00913a; }

.third-row .module:first-child + .module + .module {
  background: #00a29a; }

.third-row .module:first-child + .module + .module + .module {
  background: #036eb8; }

/*compatibility*/
.shop-registry {
  background: url("../assets/imgs/goods-registry.jpg") no-repeat;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/imgs/goods-registry.jpg',sizingMethod='scale');
  background-size: 100% 100%;
  padding: 45px 0 60px 0;
  margin-left: -15px;
  margin-right: -15px; }

.shop-registry hr {
  width: 70px;
  background: white;
  height: 2px;
  margin: 52px auto;
  margin-top: 8px; }

.shop-registry-title {
  color: white; }

.shop-registry-modules {
  display: block;
  margin: 0 auto;
  max-width: 1700px;
  width: 100%; }
  .shop-registry-modules .hr {
    width: 37px;
    background: #bbb;
    height: 2px;
    margin: 18px auto; }
  .shop-registry-modules img {
    height: 100px;
    transition: .1s; }
    .shop-registry-modules img:hover {
      transform: scale(1.2); }
  .shop-registry-modules .col-md-2 {
    padding-right: 4px;
    padding-left: 4px; }
    @media (min-width: 992px) {
      .shop-registry-modules .col-md-2:first-child {
        padding-left: 0; }
      .shop-registry-modules .col-md-2:last-child {
        padding-right: 0; } }
    @media (max-width: 991px) {
      .shop-registry-modules .col-md-2:nth-of-type(2n) {
        padding-right: 0; }
      .shop-registry-modules .col-md-2:nth-of-type(2n + 1) {
        padding-left: 0; } }
  .shop-registry-modules .shop-registry-module {
    background: white;
    padding: 35px 30px 0;
    margin-bottom: 10px;
    height: 350px;
    cursor: pointer; }
    .shop-registry-modules .shop-registry-module h5 {
      margin: 23px 0 30px; }
    .shop-registry-modules .shop-registry-module:hover {
      color: #ea5537; }
  .shop-registry-modules .registry-risk-module-title {
    margin-bottom: 40px; }

.shop-registry-hint {
  margin-top: 36px; }

/*meal*/
.meal-button-group a:hover {
  text-decoration: none; }

.meal-button-group .btn-active {
  color: #2ea7e0;
  border-color: #2ea7e0; }

.meal-download {
  margin: 15px 0 50px 0; }

/*function*/
.function-modules {
  margin-top: 34px; }

.function-modules .col-md-2 {
  background: red;
  padding: 32px 25px 0;
  color: white;
  height: 217px;
  -moz-transition: .3s;
  -ms-transition: .3s;
  transition: .3s; }

.function-modules .col-md-2:hover {
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1; }

.function-modules img {
  height: 30px; }

.function-modules h5 {
  margin-top: 30px; }

.function {
  padding-bottom: 20px; }

.function-modules .col-md-2:first-child + .col-md-2 {
  background: #f5b229; }

.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 {
  background: #eb5c2e; }

.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 + .col-md-2 {
  background: #1ba65b; }

.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 + .col-md-2 + .col-md-2 {
  background: #1d70b9; }

.function-modules .col-md-2:first-child + .col-md-2 + .col-md-2 + .col-md-2 + .col-md-2 + .col-md-2 {
  background: #542b8c; }

@media (max-width: 991px) {
  .brand div.brand-background {
    height: 100%; }

  .function-modules .col-md-2 {
    text-align: center; } }
@media (min-width: 992px) {
  .col-md-offset-1 {
    margin-left: 1.233333%; }

  .col-md-1 {
    width: 3.333333%; }

  .col-md-2 {
    width: 20%; }

  .col-md-10 {
    width: 97.733333%; }

  .content .col-md-offset-1 {
    margin-left: 2.333333%; }
  .content .col-md-10 {
    width: 95.633333%; }

  .shop-registry-modules .col-md-offset-1 {
    margin-left: 2.233333%; }
  .shop-registry-modules .col-md-2 {
    width: 19.166667%; }

  .function-modules .col-md-2 {
    width: 16.66666667%; } }

/*# sourceMappingURL=copyright-flow.css.map */
