doctype html
html
    head
        title hello
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" )
    body
        ul
            li: a(href="./src/brand-registry/brand-registry.html") 商标注册页
            li: a(href="./src/sort-page/sort-page.html") 分类
            li: a(href="./src/brand-registry/brand-registry.html") 版权注册
            li: a(href="./src/copryright-flow/copyright-flow.html") 版权流程
            li: a(href="./src/specification/specification.html") 详细说明
            li: a(href="./src/brand-source/brand-source.html") 商标源

